name: Teste 001

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SUPER_SECRET: ${{ secrets.TEST_SECRET }}

    steps:

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Executa cmd
        run: |
          chmod +x executa.sh
          ./executa.sh

    